


body {
    background: #eaf0f5 !important;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 8px;
    }


#navbar ul {
    display: flex;
    border-bottom: 1px solid #ddd;    
}

    #navbar ul li {
        margin: 0px 15px;
        padding-bottom: 10px;
    }

    #navbar ul li a:hover{
        list-style:none;
        text-decoration:none;
    }

        #navbar ul li:nth-child(5) {
            border-bottom: 4px solid #008FC7;
            margin-bottom: -3px;
        }


        /*id code here*/
        #header {
            position: fixed;
            min-height: 70px;
            height: 70px;
            box-shadow: 0px 1px 1px #ddd;
            /* margin-bottom: 10px; */
            width: 100%;
            background: #f8f8f8;
            z-index: 99999;
        }

    #header .pull-left {
        line-height: 70px;
        /*text-indent: 15px;*/
        padding: 0px 45px;
    }


#leftsidebar {
    top: 70px;
    position: fixed;
    box-shadow: 0px 0px 3px #ddd;
    min-height: 100%;
    background: white;
    padding: 15px;
    z-index:99;
}

#leftsidebar ul li{
    text-align:center;
    margin:5px auto;
}


    #rightsidebar{
        padding-left:100px;
    }

#accountstatistics{
    text-align:center;
}

#accountstatistics .circle {
    margin: 0 auto;
    border-top: 10px solid #f8f8f8;
    border-width: 15px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border-left: 10px solid #888;
    border-bottom: 10px solid #888;
    border-right: 10px solid #888;
}


    #accountstatistics .circle > .circle-center {
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        height: 70px;
        font-weight: 900;
    }

#main {
    top: 70px;
    position: relative;
}

.fa-users {
    background: pink;
    padding: 9px;
    border-radius: 50px;
}

.fa-user {
    background: #ddd;
    padding: 9px;
    border-radius: 50px;
}

.fa-address-card-o {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 15px 0px;
    color: #505050 !important;
}

#deviceactivity .fa-users {
    background: pink;
    padding: 9px;
    border-radius: 50px;
}

#deviceactivity .fix-search {
    position: absolute;
    top: 10px;
    text-indent: 10px;
}

#deviceactivity .search > input {
    padding-left:24px;
}

#deviceactivity .search > input, #deviceactivity .search > select {
    border: none;
    outline: none;
    box-shadow: none;
}

    #deviceactivity .search > input:focus, #deviceactivity .search > input:hover,
    #deviceactivity .search > select:focus, #deviceactivity .search > select:hover {
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }

#deviceactivity #seticon {
    line-height: 35px;
    height: 35px;
    text-align: center;
    margin: 0 auto;
}

#divicetype{
    min-height:440px;
    max-height:440px;
    overflow-x:hidden;
    overflow:auto;
}

#recentactivity {
    min-height: 200px;
    max-height: 200px;
    overflow-x: hidden;
    overflow: auto;
}


/*dashboard 3 code*/

#deviceheader {
    background: #008FC7;
    color:#fff;
}

#managebody{
    min-height:226px;
    max-height:226px;
    overflow-x:hidden;
    overflow-y:auto;
}

#sensor {
    min-height: 180px;
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}

.t-10{
top:10px;
position:relative;
}

/*end*/
/*end*/
/*login form code*/
#loginForm {
    background: white;
    padding: 30px;
    align-items: center;
    justify-items: center;
    top: 10em;
    bottom: 0;
    box-shadow: 0px 0px 4px;
    border-radius: 4px;
}


/*end*/





/*class code here*/

.pointer{
    cursor:pointer;
}

.canvasjs-chart-credit {
    display: none;
}

.vhide{
    visibility:hidden;
}

/*end*/